extends layout

include form.components.pug

block content
	section.form.auth
		h2
			if form.register
				| #{__('Register')}
			else
				| #{__('Log in')}
			
		script.
			var form = new Vue({
				data: {
					username: '!{ form.user.username ? form.user.username : '' }',
					password: '',
					confirmPassword: '',
					name: '!{ form.user.name ? form.user.name : '' }',
					register: !{ form.register }
				},
				computed: {
					usernameFail: function() {
						var length = /^[a-zA-Z0-9._@-]{0,32}$/.test(this.username);
						var chars = !(/[._@-]{2,}/.test(this.username));
						return !(length && chars) && (this.username !== '');
					},
					passwordFail: function() {
						return (this.password !== this.confirmPassword) && (this.confirmPassword !== '') && this.register;
					},
					hasError: function() {
						return this.usernameFail || this.passwordFail;
					}
				}
			});

		form(method='post', action=form.action, v-bind:class='{ error: hasError }')
			input(type='hidden' name='_csrf' value=form.csrf)

			section.inputs
				+form-field('text', 'username', 'Username', form.user.username)(required spellcheck='false' v-model='username' v-bind:class='{ error: usernameFail }')
				+form-field('password', 'password', 'Password')(v-model='password')

				if form.register
					+form-field('password', 'confirmPassword', 'Confirm Password')(v-model='confirmPassword' v-bind:class='{ error: passwordFail }')
					+form-field('text', 'name', 'Name', form.user.name)(v-model='name')

			section.buttons
				if form.register
					+button('button', 'check', 'Register')(class='accent')

				else
					+button('button', 'check', 'Log in')(class='accent')
					+button('a', 'plus', 'Register')(href='/auth/register')
				
		script.
			form.$mount('.form.auth > form');
