extends layout

block content
	section.tgr-auth
		if form.register
			h2 #{__('Register')}
		else
			h2 #{__('Log in')}
		form(method='post' action=form.action)
			input(type='hidden' name='_csrf' value=form.csrf)
			section.tgr-inputs
				div
					label
						i.tgr-icon.user
						input(type='text' name='username' placeholder=__('Username') value=(form.user ? form.user.username : false) autocomplete='off' required spellcheck='false')
				div
					label
						i.tgr-icon.key
						input(type='password' name='password' placeholder=__('Password'))
				if form.register
					div
						label
							i
							input(type='password' name='confirmPassword' placeholder=__('Confirm Password'))
					div
						label
							i
							input(type='text' name='name' placeholder=__('Name') value=(form.user ? form.user.name : false))
			section.tgr-buttons
				button
					i.tgr-btn.circular.check.accent
					if form.register
						span #{__('Register')}
					else
						span #{__('Log in')}
				unless form.register
					a(href='/auth/register')
						i.tgr-btn.circular.plus
						span #{__('Register')}
