html
	head
		meta(name='viewport' content='width=device-width, initial-scale=1')

		link(rel='stylesheet' href='/public/css/normalize.css')
		link(rel='stylesheet' href='/public/css/style.css')
		link(rel='stylesheet' href='//maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css')

		title #{site.name}

		block head
	body
		if flash
			section.tgr-flash
				each message in flash
					div.tgr-flash
						p(class=message.type)
							i.la.la-2x
							span #{message.text}
						script.
							(function() {
								var flash = document.currentScript.parentNode;
								var delay = '#{message.text}'.length < 40 ? 4000 : 8000;
								var timeout = window.setTimeout(function() {
									flash.classList.add('animate');
								}, delay);

								flash.addEventListener('animationend', function() {
									if (this.nextSibling || this.previousSibling) {
										this.remove();
									} else {
										this.parentNode.remove();
									}
								});

								flash.addEventListener('click', function() {
									this.classList.add('animate');
									window.clearTimeout(timeout);
								});
							})();
		header.tgr-header
			nav#tgr-main-nav
				block nav
				ul.tgr-nav-auth
					if user
						li
							a(href='/u/'+user.id)
								i.la
								span #{user.name}
						li
							a(href='/auth/logout')
								i.la
								span #{__('Log out')}
					else
						li
							a(href='/auth')
								i.la
								span #{__('Log in')}
						li
							a(href='/auth/register')
								i.la
								span #{__('Register')}
			h1.tgr-logo
				a#tgr-btn-overlay.tgr-btn.tgr-icon(href='#')
					i #{site.name}
		block content
		footer
		div#overlay.hidden(style='display:none;')
		script.
			(function() {
				var overlay = document.getElementById('overlay');
				document.getElementById('tgr-btn-overlay')
					.addEventListener('click', function(e) {
						document.body.classList.toggle('overlay');
						overlay.classList.toggle('hidden');
						overlay.classList.toggle('visible');
						overlay.style.display = '';
						e.preventDefault();
					});
				overlay.addEventListener('animationend', function(e) {
					if (e.animationName == 'overlayFadeOut') {
							overlay.style.display = 'none';
					}
				});
				overlay.addEventListener('click', function() {
					document.body.classList.remove('overlay');
					overlay.classList.add('hidden');
					overlay.classList.remove('visible');
				});
				/*
				overlay.addEventListener('transitionend', function() {
					if (!document.body.classList.contains('overlay')) {
						overlay.style.display = 'none';
					}
				});
				*/
			})();
